/* .wrap {
  --purple: purple;
  --shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  --radius: 10px;

  padding: 1rem 2rem;
  background-color: white;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
} */
.wrap {
  width: 150%;
}

.ant-menu-horizontal {,
  justify-content: center;
  margin-bottom: 2rem !important;
}

.ant-btn.ant-btn-primary {
  margin-right: 2rem;
}

#basic-form {
  visibility: hidden;
}
